.button {
    padding: .5rem .7rem;
    font-size: 1rem;
    color: #F8D444;
    background-color: transparent;
    border: 3px solid #F8D444;
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: #F8D444;
        color: #000;
    }
}