.cardImageContainer {
    background-color: #fff;
    height: 15rem;

    .cardImage {
        border: solid 5px #fff;
        border-bottom: 0;
        width: 100%;
        height: 14rem;
        background-image: url(../../../assets/backgroundPokemon.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: end;
        justify-content: center;

        img {
            height: 10rem;
            width: auto;
            margin-left: 4rem;
            right: 4rem;
            image-rendering: pixelated;
        }
    }

    .infos {
        color: #000;
        font-size: .8rem;
        text-align: center;

        span {
            padding: 0 .5rem;
        }
    }
}